Source: qcom-pw-pal-plugin
Section: misc
Priority: optional
Maintainer: Saurav Kumar <quic_sauravk@quicinc.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 linux-libc-dev-qcom,
 libpipewire-0.3-dev,
 libspa-0.2-dev,
 wireplumber,
 pipewire,
 qcom-pal,
 qcom-pal-headers-dev,
Standards-Version: 4.6.2
Homepage: https://git.codelinaro.org/clo/le/platform/vendor/qcom-opensource/pipewire-plugin

Package: qcom-pw-pal-plugin
Architecture: arm64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 qcom-libdiag-dev,
 libpipewire-0.3-dev,
 libspa-0.2-dev,
 wireplumber,
 pipewire,
 qcom-pal,
 qcom-pal-headers-dev,
Description: Qualcomm PipeWire PAL Plugin Package.
